.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


[data-theme="dark"] {
  /* --em-rgb-background: 96, 96, 96; Custom dark background color in RGB */
  --em-rgb-background: var(--rgb-background, 96, 96, 96) !important;
}